.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.center-text {
    text-align: center;
}

.alert-small {
    font-size: 0.65em;
}

.glyphicon-btn {
    font-size: 14px;
    line-height: 1.42857143;
}

.hidden{
    /*visibility: hidden; */
    display: none;
}

.red {
    color: red !important;
}

.question{
    padding: 0.5em;
    margin-bottom: 2px;
    border: 1px solid gray;
    border-radius: 5px;
}

.new_question::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #5bc0de;
    height: 10px;
    width: 10px;
    margin: 0 2px;
}

.new_question{
    font-weight:bold;
}

.new_btn{
    background-color: #d61c28;
}

.current-lecture-link {
    color: #34B509 !important;
}

#question_container{
    overflow: auto;
    max-height: 200px;
}

#presentation-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    #the-canvas {
        margin: auto;
        display: block;
    }

    #lecturer-canvas, #student-canvas {
        position: absolute;
        top: 0;
        left: 0; right: 0;
        margin: auto;
        display: block;
    }

#open-questions-button {
    position: relative;
    margin-right: 10px;
    top: -5px;
}

.presentation-box .panel {
    position: relative;
}

.presentation-box:hover .panel:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}

    .btn-create-lecture {
        display: none;
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .btn-delete-lecture {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .presentation-box:hover .btn-create-lecture, .presentation-box:hover .btn-delete-lecture {
        display: block;
    }

#file-modal .modal-body .row {
    max-height: 500px;
    overflow: auto;
}