#pace-background-questions{
    background: #ED3F09; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#ED3F09,#F0C800,#ED3F09); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#ED3F09,#F0C800,#ED3F09); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#ED3F09,#F0C800,#ED3F09); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#ED3F09,#F0C800,#ED3F09); /* Standard syntax */

    width: 350px;
    height: 23px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -2px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
#pace-overlay-questions {
    height: 100%;
    width: 4px;
    background: black;
    margin-left: 50%;

    -moz-transition: all 1s ease-out;  /* FF4+ */
    -o-transition: all 1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 1s ease-out;  /* IE10 */
    transition: all 1s ease-out;
}
#pace-container-questions {
    height: 31px;
    padding-top: 2px;
    width: 450px;
    background: RGBA(0,0,0,0.5);
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}