html{
    height: 100%;
}

#btn-goto-lecturer {
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

#the-canvas {
    margin: auto;
    display:Block;
}

body {
    height: 100%;
    background-color: #1A1A1A;

}
#hard{

}

#hard.active {
    background: #5cb85c;
}

#undo {

}
#question{
    margin-left: 5px;
}
#slower{
    margin-left: 5px;
}
#faster{
    margin-left: 5px;
}
#buttons-container{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: RGBA(0,0,0,0.5);
    bottom: 0px;
    padding:10px;
    border-radius: 10px 10px 0px 0px;
}

#loading-container {
    position: fixed;
    top: calc(50% - 22.5px);
    left: calc(50% - 90px);
    font-size: xx-large;
}
.glyphicon-refresh-animate {
    -animation: spin .9s infinite linear;
    -webkit-animation: spin2 .9s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}