html{
    height: 100%;
}

#the-canvas {

    margin: auto;
    display:Block;
    outline: 1px solid;

}
body {
    height: 100%;
    background-color: #1A1A1A;

}
#hard{
    position: fixed;
    bottom: 20px;
    left: 30%;
}
#undo {
    position: fixed;
    bottom: 20px;
    left: 40%;
}
#question{
    position: fixed;
    bottom: 20px;
    left: 50%;
}
#slower{
    position: fixed;
    bottom: 20px;
    left: 60%;
}
#faster{
    position: fixed;
    bottom: 20px;
    left: 70%;
}
#overlayBackground{
    z-index: 10;
    display: none;
    position:absolute;
    height: 100%;
    width:100%;
    background-color: #1A1A1A;
    opacity: 0.3;
}
#questionOverlay{
    z-index: 11;
    position:absolute;
    display: none;
    background-color: white;
    height: 50%;
    width: 50%;
    top: 30%;
    left: 30%;
}